[Unit]
Description=Stop Intel throttling 

[Service]
Type=simple
ExecStart=/usr/bin/throttled
Environment=PYTHONUNBUFFERED=1
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
